body
{
    background: fixed #151515;
    /*background: fixed url("../pictures/background.jpg");*/
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #cfba6b;
    font-family: "Gill Sans W04",GillSans,"Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
    box-sizing: border-box;
    position: fixed;
}
#page
{
    overflow: auto;
    padding: auto;
    margin: 40px 15% 0;
    width: auto;
}
#copyright-notice
{
    color: #666;
    font-size: .625em;
    line-height: 1.6;
    margin: 0;
}